* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

header {
  background-color: #BB2339;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
}

nav .nav__items {
  word-spacing: 5px;
}

nav .nav__items .login {
  border: 1px solid #fff;
  color: #fff;
  background-color: #BB2339;
  padding: 10px 40px;
  border-radius: 100px;
}

.blogs {
  background-color: #BB2339;
}

.blogs .blog {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs .blog .blog__element {
  padding-top: 100px;
  padding-left: 50px;
}

.blogs .blog .blog__element h4 {
  padding: 20px 0;
  color: #fff;
}

.blogs .blog .blog__element h1 {
  color: #fff;
  width: 250px;
  padding: 20px 0;
}

.blogs .blog .blog__element p {
  color: #fff;
  width: 400px;
}

.blogs .blog .blog__element .explore {
  border: 1px solid #fff;
  color: #fff;
  background-color: #BB2339;
  padding: 10px 40px;
  border-radius: 100px;
}

.blogs .blog .blog__element .blog__list img {
  max-width: 800px;
  height: 610px;
}

.content {
  background: #f8f8f8;
  padding: 100px 0;
}

.content h2 {
  color: #BB2339;
  padding: 20px 0;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards h2 {
  padding: 15px 0;
  color: #BB2339;
}

.cards .cards__card_1 {
  width: 300px;
  height: 350px;
  background-color: #fff;
}

.cards .cards__card_1 img {
  padding-left: 20px;
}

.cards .cards__card_1 svg {
  margin-top: 10px;
  margin-left: 95px;
}

.cards .cards__card_1 h5, .cards .cards__card_1 h4 {
  text-align: center;
}

.cards .cards__card_1 h4 {
  padding-top: 45px;
  color: #BB2339;
}

.btns h2 {
  color: #BB2339;
}

.btns .buttons {
  padding: 20px 0;
  word-spacing: 10px;
}

.btns .buttons .btn {
  padding: 10px 30px;
  border: 1px solid #BB2339;
  border-radius: 100px;
}

.boxes__box_1 {
  border: 1px solid gray;
  border-radius: 15px;
}

.boxes__box_1 img {
  padding-left: 25px;
}

.boxes__box_1 h5, .boxes__box_1 h4 {
  text-align: center;
}

.boxes__box_1 h4 {
  padding-top: 45px;
  color: #BB2339;
}

.row {
  padding: 10px 0;
}

.maria {
  background-color: #f8f8f8;
}

.maria .customers {
  padding: 50px 0;
}

.happy {
  padding: 100px 0;
  text-align: center;
}

.news {
  padding: 150px 0;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.news__btn {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px 0;
}

.news__btn .view {
  padding: 8px 32px;
  border: 1px solid #BB2339;
  border-radius: 100px;
  background-color: #fff;
}
