*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    body{
    font-family: sans-serif;
    }
    header{
    background-color: #BB2339;
    }
    a{
    text-decoration: none;
    color: #fff;
    }
    .container{
        max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    }
    
    nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
        .nav__items{
        word-spacing: 5px;
            .login{
            border: 1px solid #fff;
            color: #fff;
            background-color: #BB2339;
            padding: 10px 40px;
            border-radius: 100px;
            }
        }
    }